<% layout('layout/boilerplate')%>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-8 offset-xl-2 mb-4">
                <div class="card shadow">
                    <img src="https://source.unsplash.com/w72a24brINI/1600x900" ; alt="" class="card-img-top" />
                    <div class="card-body">
                        <form action="/login" method="POST" class="needs-validation" novalidate>
                            <div class='mb-3'>
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" name="username" id="username" required>
                            </div>
                            <div class='mb-3'>
                                <label class="form-label" for="title">Password</label>
                                <input class="form-control" type="password" name="password" id="password" required>
                            </div>
                            <button class="btn btn-success">login</button>
                        </form>
                        <h5 class="card-title">Login</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>